@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{

    /* FONTS */
    --font-inter: 'Inter', sans-serif;

    /* COLORS */
    --gray-300: #E0E0E0;
    --gray-400: #98A2B3;
    --gray-500: #667085;
    --gray-900: #101828;
    --firebrick: #8E2424;
    --almond: #F7E3E3;
}

.conteudo-vagas-abertas{
    padding: 5rem;
    text-align: center;
}

.vagas-abertas-titulo{
    color: var(--firebrick);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-inter);
    padding: 0.7rem;
    text-decoration: var(--almond);
}

.conteudo-titulo-section{
    color: var(--gray-900);
    font-family: var(--font-inter);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.conteudo-paragrafo-section{
    color: var(--gray-500);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
}

.img-section{
    padding: 3rem;
}

.titulo-design-desenvolvimento{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--cor-gray-900);
    padding-bottom: 2rem;
    text-align: start;
    margin-left: 30rem;
}

#vagas-id{
    margin: 0 30rem 2rem 30rem;
    border: 1px solid var(--gray-300);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    text-align: start;
}

.titulo-vaga{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--cor-gray-900);
    margin-bottom: 1rem;
}

.paragrafo-vaga{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--cor-gray-500);
}
